@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 500px;
    height: 300px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.front, .back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.map-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}
.card-no{
    color: rgb(236, 234, 234);
    font-size: 35px;
    margin-top: 60px;
    text-shadow: 0 2px 1px rgba(37, 37, 37, 0.3);
}
.card-holder{
    font-size: 12px;
    margin-top: 40px;
}
.name{
    font-size: 22px;
    margin-top: 20px;
}
.bar{
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}
.card-cvv{
    margin-top: 20px;
}
.card-cvv div{
    flex: 1;
}
.card-cvv img{
    width: 100%;
    display: block;
    line-height: 0;
}
.card-cvv p{
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 10px 20px;
}
.card-text{
    margin-top: 30px;
    font-size: 14px;
}
.signature{
    margin-top: 30px;
}
.back{
    transform: rotateY(180deg);
}
.card:hover .card-inner{
    transform: rotateY(-180deg);    
}
/* POPUP */
.modal{
    background-color: rgb(0, 0, 0);
}

.popup{
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    width: 550px;
    height: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup h2{
    color: white;
    margin-top: 100px;
}
.popup button{
    display: block;
    margin-left: 180px;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: #000000;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.popup input{
    padding: 10px 20px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 300px;
    font-size: 15px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 40px 0;
    line-height: 25px;
    color: white;
    text-align: center;
}
a{
    text-align: center;
    color: #37e7ca;
    text-decoration: none;
    padding: 5px 0;
}